:root {
  --acrylic: hsla(0, 0%, 10%, 0.5);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(233, 14%, 75%);
  --backgroud-page: hsl(0, 0%, 10%);
  --card-color: hsl(0, 0%, 15%);
  --color-1: hsl(47, 100%, 50%);
  --color-2: hsl(24, 100%, 50%);
  --color-3: hsl(281, 100%, 50%);
  --color-4: hsl(195, 100%, 50%);
  --color-5: hsl(80, 100%, 50%);
}
body {
  font: 16px "Roboto", sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  color: var(--white);
  background: var(--backgroud-page);
}
.nav {
  position: fixed;
  width: 100%;
  background: var(--acrylic);
  top: 0;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  z-index: 1;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .nav {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
  }
}
.nav__content {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / 3;
  padding: 0.5em;
  position: relative;
}
.nav__heading {
  margin: 0;
}
.nav__heading-link {
  color: var(--white);
  text-decoration: none;
}
.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-gap: 2em;
  row-gap: 1.5em;
  position: absolute;
  top: 3em;
  right: 0;
  background-color: rgb(41, 41, 49);
  border-radius: 5px;
  padding: 1em;
  display: none;
}
.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav__item:hover {
  text-decoration: underline;
}
.nav__link {
  display: block;
  color: var(--white);
  font-weight: 400;
  text-decoration: none;
  font-size: 1.125em;
}
.nav__bars-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}
.nav__bars-icon {
  color: var(--white);
}
.container {
  grid-column: 2 / 3;
}
.header {
  margin-top: 2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.header__presentation {
  font-size: 1.25rem;
  font-weight: 500;
}
.header__name {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  font-style: normal;
  background-image: linear-gradient(
    90deg,
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4),
    var(--color-5)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header__formation {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}
.header__message {
  color: var(--grey);
  font-size: 1.25em;
  font-style: italic;
}
.header__arrow {
  width: 50px;
}
.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 2em;
  gap: 3em;
}
.section__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
.section__title {
  font-size: 2rem;
}
.section__title-deco {
  position: relative;
}
.section__title-deco::before {
  background: var(--white);
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  height: 6px;
}
.section__title-deco--theme1::before {
  background-image: linear-gradient(90deg, var(--color-1), var(--color-2));
}
.section__title-deco--theme2::before {
  background-image: linear-gradient(90deg, var(--color-2), var(--color-3));
}
.section__title-deco--theme3::before {
  background-image: linear-gradient(90deg, var(--color-3), var(--color-4));
}
.section__title-deco--theme4::before {
  background-image: linear-gradient(90deg, var(--color-4), var(--color-5));
}

.section__description {
  font-size: 1.25em;
  color: var(--grey);
}
.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  width: 100%;
  column-gap: 3em;
  row-gap: 1em;
  justify-items: center;
}
.icon-grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4em;
}
.icon-grid__img {
  height: 4em;
}
.icon-grid__caption {
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 20px;
  background-color: var(--card-color);
  width: 400px;
  box-shadow: 5px 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.card__img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.card__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em;
}
.card__title {
  font-size: 1.75em;
}
.card__tags {
  font-size: 1.25em;
  display: flex;
  gap: 1em;
  font-weight: 500;
}
.card__tag--color1 {
  color: var(--color-1);
}
.card__tag--color2 {
  color: var(--color-2);
}
.card__tag--color3 {
  color: var(--color-3);
}
.card__tag--color4 {
  color: var(--color-4);
}
.card__separator {
  width: 100%;
  border: 1px solid hsla(0, 0%, 51%, 1);
}
.card__buttons {
  display: flex;
  gap: 2em;
  padding: 1em 0;
}
.card__button {
  width: 100%;
  border-radius: 20px;
  background-color: var(--grey);
  border: none;
  color: var(--white);
  padding: 0;
  cursor: pointer;
}
.card__button--theme1 {
  background-image: linear-gradient(-45deg, var(--color-1), var(--color-2));
}
.card__button--theme2 {
  background-image: linear-gradient(-45deg, var(--color-2), var(--color-3));
}
.card__button--theme3 {
  background-image: linear-gradient(-45deg, var(--color-3), var(--color-4));
}
.card__button--theme4 {
  background-image: linear-gradient(-45deg, var(--color-4), var(--color-5));
}
.card__button:hover {
  background: var(--white);
}
.card__button-txt {
  margin: 0;
  padding: 0.3em;
  font-size: 1.5em;
  font-weight: 600;
}
.card__button-txt:hover {
  background-color: var(--grey);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card__button-txt--theme1:hover {
  background-image: linear-gradient(-45deg, var(--color-1), var(--color-2));
}
.card__button-txt--theme2:hover {
  background-image: linear-gradient(-45deg, var(--color-2), var(--color-3));
}
.card__button-txt--theme3:hover {
  background-image: linear-gradient(-45deg, var(--color-3), var(--color-4));
}
.card__button-txt--theme4:hover {
  background-image: linear-gradient(-45deg, var(--color-4), var(--color-5));
}
.social__links {
  display: flex;
  gap: 5em;
  justify-content: center;
}
.social__link {
  text-decoration: none;
  color: var(--white);
}
.socialIcon {
  font-size: 5em;
  cursor: pointer;
}

@media only screen and (min-width: 1600px) {
  .project-gallery {
    flex-direction: row;
    column-gap: 1.25em;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: unset;
    background-color: transparent;
    padding: 0;
    opacity: 100;
  }
  .nav__bars-btn {
    display: none;
  }
  .header__presentation {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .header__name {
    font-size: 12rem;
  }
  .header__formation {
    font-size: 2.25em;
  }
  .header__message {
    font-size: 2em;
  }
  .header__arrow {
    width: 100px;
  }
  .section {
    text-align: left;
    min-height: 100vh;
  }
  .section--horizontal {
    flex-direction: row;
    align-items: center;
  }
  .section__content {
    flex-direction: row;
  }
  .section__title {
    font-size: 4rem;
  }
  .section__title-deco::before {
    height: 10px;
  }
  .section__description {
    font-size: 2.25em;
  }
}
