body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* grid-template-rows: auto auto auto auto auto; */
  color: #0d0e0f;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  height: 90vh;
}
.header__presentation {
  border-right: #0d0e0f solid;
  padding: 1rem;
}
.header__greeting {
  color: #858585;
  /* line-height: 0; */
}
.header__title {
  font-size: 4rem;
  font-weight: 900;
  /* line-height: 0; */
  margin: 0;
}
.header__text {
  padding: 1rem;
}
.navigation {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: rgba(245, 245, 245, 0.8);
  height: 10vh;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .navigation {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #0d0e0f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #c0c0c0;
}

.active {
  background-color: #c0c0c0;
}
.title {
  text-decoration: underline 8px;
  margin: 1.5em 0;
}
.description {
  color: #858585;
  margin: 4em 2em;
}
.tools {
  grid-column: 2 / 3;
  min-height: 90vh;
  padding-top: 10vh;
}
.tools-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  margin: 5rem 0;
}
.tool-icon {
  margin: 20%;
}
.tool-icon__caption {
  text-align: center;
  color: #c2c2c2;
  padding-top: 0.5em;
  font-size: 0.8em;
}
.challenge {
  grid-column: 2 / 3;
  height: 90vh;
}
.collage {
  position: relative;
}
.collage__bg {
  position: absolute;
  width: 90%;
  right: 0;
  border: 0.25px solid #818181;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.collage__img {
  position: absolute;
  width: 25%;
  border: 0.25px solid #818181;
  top: 80px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
